*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: yellow;
}

.container{
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 4rem;
  
  > *{
    flex: 0 0 33%;
  }
  
  @media (width < calc(780/16*1rem)){
    flex-direction: column;
  }
}

.profile-con{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  border: 1px solid black;
  position: relative;
  z-index: -1;
  
  svg{
    position: absolute;
    top: -15%;
    z-index: 10;
  }
  
  .value{
    color: green;
    font-family: 700;
    font-size: 1.75rem;
  }
  
  .desc{
    font-weight: 700;
    letter-spacing: 1.1px;
  }
}

